/*  your css code here. If applicable */
body{
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.book-library{
	margin: 20px 0px;
/* 	padding:10px; */
/* 	background-color: #f8f8f8; */
}

.book-library h1{
	background-color: #f8f8f8;
	text-align: center;
}

.book{
	margin-top: 30px;
	padding: 10px
	color: white;
	background-color: #f8f8f8;
}

.color_author{
	background-color: rgb(119,119,119);
}

.price_background{
	background-color: #2ecc71;
	color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 4px;
}
