/*  your css code here. If applicable */
body{
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

.book-library{
	background-color: #ffffff;
	font-size: 20px;
	border-bottom: 1px solid #e6e6e6;
}

.book-library h1{
	background-color: #f8f8f8;
	text-align: center;
}

.book{
	margin-top: 30px;
	padding: 10px
}

.color_author{
	background-color: rgb(119,119,119);
}

.price {
	background-color: #2ecc71;
	color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 4px;
}
